In [33]:
# Bibliotecas utilizadas
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [34]:
# Datasets utilizados
df_majors = pd.read_csv('./data/Mens_Tennis_Grand_Slam_Winner.csv')
df_ATP_1973_to_2010 = pd.read_csv('./data/df_ATP_1973_to_2010.csv')

# Dataset - Ganadores 4 Grand Slams

In [35]:
df_majors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   YEAR                         292 non-null    int64
 1   TOURNAMENT                   292 non-null    object
 2   WINNER                       292 non-null    object
 3   RUNNER-UP                    292 non-null    object
 4   WINNER_NATIONALITY           292 non-null    object
 5   WINNER_ATP_RANKING           63 non-null     float64
 6   RUNNER-UP_ATP_RANKING        64 non-null     float64
 7   WINNER_LEFT_OR_RIGHT_HANDED  292 non-null    object
 8   TOURNAMENT_SURFACE           292 non-null    object
 9   WINNER_PRIZE                 217 non-null    float64
dtypes: float64(3), int64(1), object(6)
memory usage: 22.9+ KB

In [36]:
# Convertir nombres 
def convertir_nombre(nombre):
    partes = nombre.split()
    inicial = partes[0][0]  # Primera letra del primer nombre
    apellido = partes[-1]  # Apellido
    return f'{inicial}. {apellido}'

In [37]:
df_majors['WINNER'] = df_majors['WINNER'].apply(convertir_nombre)
df_majors['RUNNER-UP'] = df_majors['RUNNER-UP'].apply(convertir_nombre)

df_majors

,YEAR,TOURNAMENT,WINNER,RUNNER-UP,WINNER_NATIONALITY,WINNER_ATP_RANKING,RUNNER-UP_ATP_RANKING,WINNER_LEFT_OR_RIGHT_HANDED,TOURNAMENT_SURFACE,WINNER_PRIZE
0,2023,Australian Open,N. Djokovic,S. Tsitsipas,Serbian,1.0,3.0,right,Plexicushion Prestige,2050000.0
1,2022,U.S. Open,C. Alcaraz,C. Rudd,Spanish,2.0,5.0,right,DecoTurf - outdoors,2600000.0
2,2022,Wimbledon,N. Djokovic,N. Kyrgios,Serbian,NaN,25.0,right,Grass / Outdoor,2507460.0
3,2022,French Open,R. Nadal,C. Rudd,Spanish,5.0,8.0,left,Clay,1870000.0
4,2022,Australian Open,R. Nadal,D. Medvedev,Spanish,5.0,2.0,left,Plexicushion Prestige,4400000.0
...,...,...,...,...,...,...,...,...,...,...
287,1951,Australian Open,D. Savitt,K. McGregor,American,NaN,NaN,right,Grass,NaN
288,1950,U.S. Open,A. Larsen,H. Flam,American,NaN,NaN,right,outdoors,NaN
289,1950,Wimbledon,J. Patty,F. Sedgman,American,NaN,NaN,right,Grass / Outdoor,NaN
290,1950,French Open,B. Patty,J. Drobny,American,NaN,NaN,right,Clay,NaN
291,1950,Australian Open,F. Sedgman,K. McGregor,Australian,NaN,NaN,right,Grass,NaN

In [38]:
nulos = (df_majors.isnull().mean())*100
nulos

YEAR                            0.000000
TOURNAMENT                      0.000000
WINNER                          0.000000
RUNNER-UP                       0.000000
WINNER_NATIONALITY              0.000000
WINNER_ATP_RANKING             78.424658
RUNNER-UP_ATP_RANKING          78.082192
WINNER_LEFT_OR_RIGHT_HANDED     0.000000
TOURNAMENT_SURFACE              0.000000
WINNER_PRIZE                   25.684932
dtype: float64

In [39]:
df_majors.value_counts

<bound method DataFrame.value_counts of      YEAR       TOURNAMENT       WINNER     RUNNER-UP WINNER_NATIONALITY  \
0    2023  Australian Open  N. Djokovic  S. Tsitsipas            Serbian
1    2022        U.S. Open   C. Alcaraz       C. Rudd            Spanish
2    2022        Wimbledon  N. Djokovic    N. Kyrgios            Serbian
3    2022      French Open     R. Nadal       C. Rudd            Spanish
4    2022  Australian Open     R. Nadal   D. Medvedev            Spanish
..    ...              ...          ...           ...                ...
287  1951  Australian Open    D. Savitt   K. McGregor           American
288  1950        U.S. Open    A. Larsen       H. Flam           American
289  1950        Wimbledon     J. Patty    F. Sedgman           American
290  1950      French Open     B. Patty     J. Drobny           American
291  1950  Australian Open   F. Sedgman   K. McGregor         Australian

     WINNER_ATP_RANKING  RUNNER-UP_ATP_RANKING WINNER_LEFT_OR_RIGHT_HANDED  \
0                   1.0                    3.0                       right
1                   2.0                    5.0                       right
2                   NaN                   25.0                       right
3                   5.0                    8.0                        left
4                   5.0                    2.0                        left
..                  ...                    ...                         ...
287                 NaN                    NaN                       right
288                 NaN                    NaN                       right
289                 NaN                    NaN                       right
290                 NaN                    NaN                       right
291                 NaN                    NaN                       right

        TOURNAMENT_SURFACE  WINNER_PRIZE
0    Plexicushion Prestige     2050000.0
1      DecoTurf - outdoors     2600000.0
2          Grass / Outdoor     2507460.0
3                     Clay     1870000.0
4    Plexicushion Prestige     4400000.0
..                     ...           ...
287                  Grass           NaN
288               outdoors           NaN
289        Grass / Outdoor           NaN
290                   Clay           NaN
291                  Grass           NaN

[292 rows x 10 columns]>

In [40]:
df_majors.head()

,YEAR,TOURNAMENT,WINNER,RUNNER-UP,WINNER_NATIONALITY,WINNER_ATP_RANKING,RUNNER-UP_ATP_RANKING,WINNER_LEFT_OR_RIGHT_HANDED,TOURNAMENT_SURFACE,WINNER_PRIZE
0,2023,Australian Open,N. Djokovic,S. Tsitsipas,Serbian,1.0,3.0,right,Plexicushion Prestige,2050000.0
1,2022,U.S. Open,C. Alcaraz,C. Rudd,Spanish,2.0,5.0,right,DecoTurf - outdoors,2600000.0
2,2022,Wimbledon,N. Djokovic,N. Kyrgios,Serbian,NaN,25.0,right,Grass / Outdoor,2507460.0
3,2022,French Open,R. Nadal,C. Rudd,Spanish,5.0,8.0,left,Clay,1870000.0
4,2022,Australian Open,R. Nadal,D. Medvedev,Spanish,5.0,2.0,left,Plexicushion Prestige,4400000.0

In [41]:
# Columnas con nulos 
df_majors[['WINNER_ATP_RANKING','RUNNER-UP_ATP_RANKING', 'WINNER_PRIZE']]

     WINNER_ATP_RANKING  RUNNER-UP_ATP_RANKING  WINNER_PRIZE
0                   1.0                    3.0     2050000.0
1                   2.0                    5.0     2600000.0
2                   NaN                   25.0     2507460.0
3                   5.0                    8.0     1870000.0
4                   5.0                    2.0     4400000.0
..                  ...                    ...           ...
287                 NaN                    NaN           NaN
288                 NaN                    NaN           NaN
289                 NaN                    NaN           NaN
290                 NaN                    NaN           NaN
291                 NaN                    NaN           NaN

[292 rows x 3 columns]

In [42]:
# Cambio de Australian Open (Dec / Jan) por Australian Open
df_majors['TOURNAMENT'] = df_majors['TOURNAMENT'].str.replace(r'Australian Open \(Dec\)|Australian Open \(Jan\)', 'Australian Open', regex = True)
df_majors['TOURNAMENT'] = df_majors['TOURNAMENT'].str.replace(r'French Open', 'Roland Garros', regex = True)

In [43]:
df_majors['TOURNAMENT'].value_counts()

TOURNAMENT
Australian Open    74
U.S. Open          73
Roland Garros      73
Wimbledon          72
Name: count, dtype: int64

In [44]:
# Media de WINNER_PRIZE de cada uno de los torneos
precios_por_torneo = df_majors.groupby('TOURNAMENT')['WINNER_PRIZE'].mean()
precios_por_torneo

TOURNAMENT
Australian Open    1.156032e+06
Roland Garros      1.466629e+06
U.S. Open          1.013036e+06
Wimbledon          5.990386e+05
Name: WINNER_PRIZE, dtype: float64

In [45]:
# Medias de cada uno de los torneos
tournament_means = {
    'Australian Open': df_majors.loc[df_majors['TOURNAMENT'].str.contains('Australian Open', case = False), 'WINNER_PRIZE'].mean(),
    'Roland Garros': df_majors.loc[df_majors['TOURNAMENT'].str.contains('Roland Garros', case = False), 'WINNER_PRIZE'].mean(),
    'U.S. Open': df_majors.loc[df_majors['TOURNAMENT'].str.contains('U.S. Open', case = False), 'WINNER_PRIZE'].mean(),
    'Wimbledon': df_majors.loc[df_majors['TOURNAMENT'].str.contains('Wimbledon', case = False), 'WINNER_PRIZE'].mean(),
}
# Funcion reemplazo
def sustitucion_nulos(row):
    tournament = row['TOURNAMENT']
    winner_prize = row['WINNER_PRIZE']
    if pd.isnull(winner_prize) and any(t in tournament for t in tournament_means.key()):
        return tournament_means(next(t for t in tournament_means.key() if t in tournament))
    else:
        return winner_prize
    
df_majors['WINNER_PRIZE'] = df_majors['WINNER_PRIZE'].fillna(df_majors['TOURNAMENT'].map(lambda x: tournament_means[next((t for t in tournament_means.keys() if t in x), None)])).round(1)
df_majors

,YEAR,TOURNAMENT,WINNER,RUNNER-UP,WINNER_NATIONALITY,WINNER_ATP_RANKING,RUNNER-UP_ATP_RANKING,WINNER_LEFT_OR_RIGHT_HANDED,TOURNAMENT_SURFACE,WINNER_PRIZE
0,2023,Australian Open,N. Djokovic,S. Tsitsipas,Serbian,1.0,3.0,right,Plexicushion Prestige,2050000.0
1,2022,U.S. Open,C. Alcaraz,C. Rudd,Spanish,2.0,5.0,right,DecoTurf - outdoors,2600000.0
2,2022,Wimbledon,N. Djokovic,N. Kyrgios,Serbian,NaN,25.0,right,Grass / Outdoor,2507460.0
3,2022,Roland Garros,R. Nadal,C. Rudd,Spanish,5.0,8.0,left,Clay,1870000.0
4,2022,Australian Open,R. Nadal,D. Medvedev,Spanish,5.0,2.0,left,Plexicushion Prestige,4400000.0
...,...,...,...,...,...,...,...,...,...,...
287,1951,Australian Open,D. Savitt,K. McGregor,American,NaN,NaN,right,Grass,1156031.7
288,1950,U.S. Open,A. Larsen,H. Flam,American,NaN,NaN,right,outdoors,1013036.4
289,1950,Wimbledon,J. Patty,F. Sedgman,American,NaN,NaN,right,Grass / Outdoor,599038.6
290,1950,Roland Garros,B. Patty,J. Drobny,American,NaN,NaN,right,Clay,1466628.7
291,1950,Australian Open,F. Sedgman,K. McGregor,Australian,NaN,NaN,right,Grass,1156031.7

In [47]:
# Año 1977 hay un error, 2 Australian Open, elimino el incorrecto
df_majors[df_majors['YEAR'] == 1977]

,YEAR,TOURNAMENT,WINNER,RUNNER-UP,WINNER_NATIONALITY,WINNER_ATP_RANKING,RUNNER-UP_ATP_RANKING,WINNER_LEFT_OR_RIGHT_HANDED,TOURNAMENT_SURFACE,WINNER_PRIZE
179,1977,Australian Open,V. Gerulaitis,J. Lloyd,American,NaN,NaN,right,Grass,41000.0
180,1977,U.S. Open,G. Vilas,J. Connors,Argentine,NaN,NaN,left,Clay - outdoors,33000.0
181,1977,Wimbledon,B. Borg,J. Connors,Swedish,NaN,NaN,right,Grass / Outdoor,15000.0
182,1977,Roland Garros,G. Vilas,B. Gottfried,Argentine,NaN,NaN,left,Clay,190000.0
183,1977,Australian Open,R. Tanner,G. Vilas,American,NaN,NaN,left,Grass,28000.0

In [48]:
# Elimino duplicado Australian Open (1977)
df_majors = df_majors.drop(179)

# Dataset - Ranking 1973-2010

In [50]:
# Data ranking completo 
df_ATP_1973_to_2010.head()

,Posicion,1973,1974,1975,1976,1977,1978,1979,1980,1981,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,1,I. Nastase,J. Connors,J. Connors,J. Connors,J. Connors,J. Connors,B. Borg,B. Borg,J. McEnroe,...,R. Nadal,N. Djokovic,R. Federer,N. Djokovic,N. Djokovic,N. Djokovic,N. Djokovic,R. Nadal,R. Nadal,N. Djokovic
1,2,J. Newcombe,J. Newcombe,G. Vilas,B. Borg,B. Borg,B. Borg,J. Connors,J. McEnroe,B. Borg,...,N. Djokovic,R. Nadal,N. Djokovic,R. Nadal,R. Nadal,R. Federer,A. Murray,R. Federer,R. Federer,R. Nadal
2,3,M. Orantes,R. Laver,M. Orantes,G. Vilas,B. Gottfried,G. Vilas,J. McEnroe,J. Connors,J. Connors,...,R. Federer,R. Federer,A. Murray,A. Murray,R. Federer,A. Murray,S. Wawrinka,A. Murray,N. Djokovic,R. Federer
3,4,S. Smith,B. Borg,B. Borg,I. Nastase,G. Vilas,V. Gerulaitis,R. Tanner,G. Vilas,I. Lendl,...,A. Murray,A. Murray,R. Nadal,D. Ferrer,S. Wawrinka,S. Wawrinka,R. Nadal,A. Zverev,J. del Potro,D. Medvedev
4,5,J. Connors,T. Okker,A. Ashe,A. Panatta,M. Orantes,E. Dibbs,V. Gerulaitis,H. Solomon,J. Clerc,...,R. Soderling,D. Ferrer,D. Ferrer,R. Federer,D. Ferrer,T. Berdych,K. Nishikori,M. Cilic,A. Zverev,D. Thiem

In [62]:
# Tranformar df_ATP_1973_to_2010 para que sea mas usable
rankings_long = df_ATP_1973_to_2010.melt(id_vars=['Posicion'], var_name='YEAR', value_name='Player')
rankings_long['YEAR'] = rankings_long['YEAR'].astype(int)  # Convertir años a enteros

In [63]:
# Crear el diccionario de mapeo
ranking_dict = dict(zip(zip(rankings_long['YEAR'], rankings_long['Player']), rankings_long['Posicion']))

In [64]:
# Función para rellenar los rankings
def fill_ranking(row):
    year = row['YEAR']
    if pd.isna(row['WINNER_ATP_RANKING']) and (year, row['WINNER']) in ranking_dict:
        row['WINNER_ATP_RANKING'] = ranking_dict[(year, row['WINNER'])]
    if pd.isna(row['RUNNER-UP_ATP_RANKING']) and (year, row['RUNNER-UP']) in ranking_dict:
        row['RUNNER-UP_ATP_RANKING'] = ranking_dict[(year, row['RUNNER-UP'])]
    return row

In [65]:
# Aplicar la función a cada fila del dataframe principal
df_majors = df_majors.apply(fill_ranking, axis=1)

In [66]:
df_majors.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199 entries, 0 to 199
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   YEAR                         199 non-null    int64
 1   TOURNAMENT                   199 non-null    object
 2   WINNER                       199 non-null    object
 3   RUNNER-UP                    199 non-null    object
 4   WINNER_NATIONALITY           199 non-null    object
 5   WINNER_ATP_RANKING           199 non-null    float64
 6   RUNNER-UP_ATP_RANKING        199 non-null    float64
 7   WINNER_LEFT_OR_RIGHT_HANDED  199 non-null    object
 8   TOURNAMENT_SURFACE           199 non-null    object
 9   WINNER_PRIZE                 199 non-null    float64
dtypes: float64(3), int64(1), object(6)
memory usage: 25.2+ KB

In [67]:
# Elimino filas anteriores a 1973 (ya que no hay datos respecto al ranking ATP)
df_majors = df_majors[df_majors['YEAR'] >= 1973]
print("El año más antiguo en df_majors ahora es:", df_majors['YEAR'].min())

El año más antiguo en df_majors ahora es: 1973

In [71]:
# Cambio manual de nulos (ha habido problemas de lectura por nombres raros)
df_majors.at[2, 'WINNER_ATP_RANKING'] = 3.0
df_majors.at[83, 'WINNER_ATP_RANKING'] = 10.0
df_majors.at[135, 'RUNNER-UP_ATP_RANKING'] = 13.0
df_majors.at[144, 'RUNNER-UP_ATP_RANKING'] = 9.0
df_majors.at[157, 'RUNNER-UP_ATP_RANKING'] = 51.0
df_majors.at[163, 'RUNNER-UP_ATP_RANKING'] = 108.0
df_majors.at[174, 'RUNNER-UP_ATP_RANKING'] = 16.0
df_majors.at[175, 'RUNNER-UP_ATP_RANKING'] = 114.0
df_majors.at[185, 'RUNNER-UP_ATP_RANKING'] = 10.0
df_majors.at[186, 'RUNNER-UP_ATP_RANKING'] = 10.0

In [70]:
df_majors.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199 entries, 0 to 199
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   YEAR                         199 non-null    int64
 1   TOURNAMENT                   199 non-null    object
 2   WINNER                       199 non-null    object
 3   RUNNER-UP                    199 non-null    object
 4   WINNER_NATIONALITY           199 non-null    object
 5   WINNER_ATP_RANKING           199 non-null    float64
 6   RUNNER-UP_ATP_RANKING        199 non-null    float64
 7   WINNER_LEFT_OR_RIGHT_HANDED  199 non-null    object
 8   TOURNAMENT_SURFACE           199 non-null    object
 9   WINNER_PRIZE                 199 non-null    float64
dtypes: float64(3), int64(1), object(6)
memory usage: 25.2+ KB

# ANALISIS