In [2]:
# Bibliotecas utilizadas
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
# Datasets utilizados
df_majors = pd.read_csv('./data/Mens_Tennis_Grand_Slam_Winner.csv')
df_atp_70 = pd.read_csv('./data/nombres_atp_70.csv')
df_atp_80 = pd.read_csv('./data/nombres_atp_80.csv')
df_atp_90 = pd.read_csv('./data/nombres_atp_90.csv')
df_atp_2000 = pd.read_csv('./data/nombres_atp_2000.csv')
df_atp_2010 = pd.read_csv('./data/nombres_atp_2010.csv')

# Dataset - Ganadores 4 Grand Slams

In [3]:
df_majors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   YEAR                         292 non-null    int64
 1   TOURNAMENT                   292 non-null    object
 2   WINNER                       292 non-null    object
 3   RUNNER-UP                    292 non-null    object
 4   WINNER_NATIONALITY           292 non-null    object
 5   WINNER_ATP_RANKING           63 non-null     float64
 6   RUNNER-UP_ATP_RANKING        64 non-null     float64
 7   WINNER_LEFT_OR_RIGHT_HANDED  292 non-null    object
 8   TOURNAMENT_SURFACE           292 non-null    object
 9   WINNER_PRIZE                 217 non-null    float64
dtypes: float64(3), int64(1), object(6)
memory usage: 22.9+ KB

In [4]:
nulos = (df_majors.isnull().mean())*100
nulos

YEAR                            0.000000
TOURNAMENT                      0.000000
WINNER                          0.000000
RUNNER-UP                       0.000000
WINNER_NATIONALITY              0.000000
WINNER_ATP_RANKING             78.424658
RUNNER-UP_ATP_RANKING          78.082192
WINNER_LEFT_OR_RIGHT_HANDED     0.000000
TOURNAMENT_SURFACE              0.000000
WINNER_PRIZE                   25.684932
dtype: float64

In [5]:
df_majors.value_counts

<bound method DataFrame.value_counts of      YEAR       TOURNAMENT          WINNER           RUNNER-UP  \
0    2023  Australian Open  Novak Djokovic  Stefanos Tsitsipas
1    2022        U.S. Open  Carlos Alcaraz         Casper Rudd
2    2022        Wimbledon  Novak Djokovic        Nick Kyrgios
3    2022      French Open    Rafael Nadal         Casper Rudd
4    2022  Australian Open    Rafael Nadal     Daniil Medvedev
..    ...              ...             ...                 ...
287  1951  Australian Open     Dick Savitt        Ken McGregor
288  1950        U.S. Open   Arthur Larsen        Herbert Flam
289  1950        Wimbledon      J.E. Patty       Frank Sedgman
290  1950      French Open     Budge Patty     Jaroslav Drobny
291  1950  Australian Open   Frank Sedgman        Ken McGregor

    WINNER_NATIONALITY  WINNER_ATP_RANKING  RUNNER-UP_ATP_RANKING  \
0              Serbian                 1.0                    3.0
1              Spanish                 2.0                    5.0
2              Serbian                 NaN                   25.0
3              Spanish                 5.0                    8.0
4              Spanish                 5.0                    2.0
..                 ...                 ...                    ...
287           American                 NaN                    NaN
288           American                 NaN                    NaN
289           American                 NaN                    NaN
290           American                 NaN                    NaN
291         Australian                 NaN                    NaN

    WINNER_LEFT_OR_RIGHT_HANDED     TOURNAMENT_SURFACE  WINNER_PRIZE
0                         right  Plexicushion Prestige     2050000.0
1                         right    DecoTurf - outdoors     2600000.0
2                         right        Grass / Outdoor     2507460.0
3                          left                   Clay     1870000.0
4                          left  Plexicushion Prestige     4400000.0
..                          ...                    ...           ...
287                       right                  Grass           NaN
288                       right               outdoors           NaN
289                       right        Grass / Outdoor           NaN
290                       right                   Clay           NaN
291                       right                  Grass           NaN

[292 rows x 10 columns]>

In [6]:
df_majors.head(20)

,YEAR,TOURNAMENT,WINNER,RUNNER-UP,WINNER_NATIONALITY,WINNER_ATP_RANKING,RUNNER-UP_ATP_RANKING,WINNER_LEFT_OR_RIGHT_HANDED,TOURNAMENT_SURFACE,WINNER_PRIZE
0,2023,Australian Open,Novak Djokovic,Stefanos Tsitsipas,Serbian,1.0,3.0,right,Plexicushion Prestige,2050000.0
1,2022,U.S. Open,Carlos Alcaraz,Casper Rudd,Spanish,2.0,5.0,right,DecoTurf - outdoors,2600000.0
2,2022,Wimbledon,Novak Djokovic,Nick Kyrgios,Serbian,NaN,25.0,right,Grass / Outdoor,2507460.0
3,2022,French Open,Rafael Nadal,Casper Rudd,Spanish,5.0,8.0,left,Clay,1870000.0
4,2022,Australian Open,Rafael Nadal,Daniil Medvedev,Spanish,5.0,2.0,left,Plexicushion Prestige,4400000.0
5,2021,U.S. Open,Daniil Medvedev,Novak Djokovic,Russian,2.0,1.0,right,DecoTurf - outdoors,2500000.0
6,2021,Wimbledon,Novak Djokovic,Matteo Berrettini,Serbian,1.0,7.0,right,Grass / Outdoor,1700000.0
7,2021,French Open,Novak Djokovic,Stefanos Tsitsipas,Serbian,1.0,4.0,right,Clay,1400000.0
8,2021,Australian Open,Novak Djokovic,Daniil Medvedev,Serbian,1.0,2.0,right,Plexicushion Prestige,2875000.0
9,2020,French Open,Rafael Nadal,Novak Djokovic,Spanish,2.0,1.0,left,Clay,1600000.0
10,2020,U.S. Open,Dominic Thiem,Alexander Zverev,Austrian,3.0,7.0,right,DecoTurf - outdoors,2500000.0
11,2020,Australian Open,Novak Djokovic,Dominic Thiem,Serbian,1.0,3.0,right,Plexicushion Prestige,4120000.0
12,2019,U.S. Open,Rafael Nadal,Daniil Medvedev,Spanish,1.0,5.0,left,DecoTurf - outdoors,3850000.0
13,2019,Wimbledon,Novak Djokovic,Roger Federer,Serbian,2.0,3.0,right,Grass / Outdoor,2350000.0
14,2019,French Open,Rafael Nadal,Dominic Thiem,Spanish,1.0,4.0,left,Clay,2300000.0
15,2019,Australian Open,Novak Djokovic,Rafael Nadal,Serbian,2.0,1.0,right,Plexicushion Prestige,4100000.0
16,2018,U.S. Open,Novak Djokovic,Juan Martin del Potro,Serbian,1.0,5.0,right,DecoTurf - outdoors,3800000.0
17,2018,Wimbledon,Novak Djokovic,Kevin Anderson,Serbian,1.0,6.0,right,Grass / Outdoor,2250000.0
18,2018,French Open,Rafael Nadal,Dominic Thiem,Spanish,2.0,8.0,left,Clay,2200000.0
19,2018,Australian Open,Roger Federer,Marin ili,Swiss,3.0,7.0,right,Plexicushion Prestige,4000000.0

In [7]:
# Columnas con nulos 
df_majors[['WINNER_ATP_RANKING','RUNNER-UP_ATP_RANKING', 'WINNER_PRIZE']]

     WINNER_ATP_RANKING  RUNNER-UP_ATP_RANKING  WINNER_PRIZE
0                   1.0                    3.0     2050000.0
1                   2.0                    5.0     2600000.0
2                   NaN                   25.0     2507460.0
3                   5.0                    8.0     1870000.0
4                   5.0                    2.0     4400000.0
..                  ...                    ...           ...
287                 NaN                    NaN           NaN
288                 NaN                    NaN           NaN
289                 NaN                    NaN           NaN
290                 NaN                    NaN           NaN
291                 NaN                    NaN           NaN

[292 rows x 3 columns]

In [8]:
# Filas con nulos 
filas_con_nulos = df_majors[df_majors.isnull().any(axis=1)]
filas_con_nulos

,YEAR,TOURNAMENT,WINNER,RUNNER-UP,WINNER_NATIONALITY,WINNER_ATP_RANKING,RUNNER-UP_ATP_RANKING,WINNER_LEFT_OR_RIGHT_HANDED,TOURNAMENT_SURFACE,WINNER_PRIZE
2,2022,Wimbledon,Novak Djokovic,Nick Kyrgios,Serbian,NaN,25.0,right,Grass / Outdoor,2507460.0
64,2006,U.S. Open,Roger Federer,Andy Roddick,Swiss,NaN,NaN,right,DecoTurf - outdoors,1200000.0
65,2006,Wimbledon,Roger Federer,Rafael Nadal,Swiss,NaN,NaN,right,Grass / Outdoor,655000.0
66,2006,French Open,Rafael Nadal,Roger Federer,Spanish,NaN,NaN,left,Clay,940000.0
67,2006,Australian Open,Roger Federer,Marcos Baghdatis,Swiss,NaN,NaN,right,Rebound Ace,1220000.0
...,...,...,...,...,...,...,...,...,...,...
287,1951,Australian Open,Dick Savitt,Ken McGregor,American,NaN,NaN,right,Grass,NaN
288,1950,U.S. Open,Arthur Larsen,Herbert Flam,American,NaN,NaN,right,outdoors,NaN
289,1950,Wimbledon,J.E. Patty,Frank Sedgman,American,NaN,NaN,right,Grass / Outdoor,NaN
290,1950,French Open,Budge Patty,Jaroslav Drobny,American,NaN,NaN,right,Clay,NaN
291,1950,Australian Open,Frank Sedgman,Ken McGregor,Australian,NaN,NaN,right,Grass,NaN

In [9]:
# Cambio de Australian Open (Dec / Jan) por Australian Open
df_majors['TOURNAMENT'] = df_majors['TOURNAMENT'].str.replace(r'Australian Open \(Dec\)|Australian Open \(Jan\)', 'Australian Open', regex = True)
df_majors['TOURNAMENT'] = df_majors['TOURNAMENT'].str.replace(r'French Open', 'Roland Garros', regex = True)

In [10]:
df_majors['TOURNAMENT'].value_counts()

TOURNAMENT
Australian Open    74
U.S. Open          73
Roland Garros      73
Wimbledon          72
Name: count, dtype: int64

In [11]:
precios_por_torneo = df_majors.groupby('TOURNAMENT')['WINNER_PRIZE'].mean()
precios_por_torneo

TOURNAMENT
Australian Open    1.156032e+06
Roland Garros      1.466629e+06
U.S. Open          1.013036e+06
Wimbledon          5.990386e+05
Name: WINNER_PRIZE, dtype: float64

In [12]:
df_majors[['TOURNAMENT', 'WINNER_PRIZE']]

          TOURNAMENT  WINNER_PRIZE
0    Australian Open     2050000.0
1          U.S. Open     2600000.0
2          Wimbledon     2507460.0
3      Roland Garros     1870000.0
4    Australian Open     4400000.0
..               ...           ...
287  Australian Open           NaN
288        U.S. Open           NaN
289        Wimbledon           NaN
290    Roland Garros           NaN
291  Australian Open           NaN

[292 rows x 2 columns]

In [13]:
# Medias de cada uno de los torneos
tournament_means = {
    'Australian Open': df_majors.loc[df_majors['TOURNAMENT'].str.contains('Australian Open', case = False), 'WINNER_PRIZE'].mean(),
    'Roland Garros': df_majors.loc[df_majors['TOURNAMENT'].str.contains('Roland Garros', case = False), 'WINNER_PRIZE'].mean(),
    'U.S. Open': df_majors.loc[df_majors['TOURNAMENT'].str.contains('U.S. Open', case = False), 'WINNER_PRIZE'].mean(),
    'Wimbledon': df_majors.loc[df_majors['TOURNAMENT'].str.contains('Wimbledon', case = False), 'WINNER_PRIZE'].mean(),
}
# Funcion reemplazo
def sustitucion_nulos(row):
    tournament = row['TOURNAMENT']
    winner_prize = row['WINNER_PRIZE']
    if pd.isnull(winner_prize) and any(t in tournament for t in tournament_means.key()):
        return tournament_means(next(t for t in tournament_means.key() if t in tournament))
    else:
        return winner_prize
    
df_majors['WINNER_PRIZE'] = df_majors['WINNER_PRIZE'].fillna(df_majors['TOURNAMENT'].map(lambda x: tournament_means[next((t for t in tournament_means.keys() if t in x), None)])).round(1)
df_majors

,YEAR,TOURNAMENT,WINNER,RUNNER-UP,WINNER_NATIONALITY,WINNER_ATP_RANKING,RUNNER-UP_ATP_RANKING,WINNER_LEFT_OR_RIGHT_HANDED,TOURNAMENT_SURFACE,WINNER_PRIZE
0,2023,Australian Open,Novak Djokovic,Stefanos Tsitsipas,Serbian,1.0,3.0,right,Plexicushion Prestige,2050000.0
1,2022,U.S. Open,Carlos Alcaraz,Casper Rudd,Spanish,2.0,5.0,right,DecoTurf - outdoors,2600000.0
2,2022,Wimbledon,Novak Djokovic,Nick Kyrgios,Serbian,NaN,25.0,right,Grass / Outdoor,2507460.0
3,2022,Roland Garros,Rafael Nadal,Casper Rudd,Spanish,5.0,8.0,left,Clay,1870000.0
4,2022,Australian Open,Rafael Nadal,Daniil Medvedev,Spanish,5.0,2.0,left,Plexicushion Prestige,4400000.0
...,...,...,...,...,...,...,...,...,...,...
287,1951,Australian Open,Dick Savitt,Ken McGregor,American,NaN,NaN,right,Grass,1156031.7
288,1950,U.S. Open,Arthur Larsen,Herbert Flam,American,NaN,NaN,right,outdoors,1013036.4
289,1950,Wimbledon,J.E. Patty,Frank Sedgman,American,NaN,NaN,right,Grass / Outdoor,599038.6
290,1950,Roland Garros,Budge Patty,Jaroslav Drobny,American,NaN,NaN,right,Clay,1466628.7
291,1950,Australian Open,Frank Sedgman,Ken McGregor,Australian,NaN,NaN,right,Grass,1156031.7

In [14]:
nulos = (df_majors.isnull().mean())*100
nulos

YEAR                            0.000000
TOURNAMENT                      0.000000
WINNER                          0.000000
RUNNER-UP                       0.000000
WINNER_NATIONALITY              0.000000
WINNER_ATP_RANKING             78.424658
RUNNER-UP_ATP_RANKING          78.082192
WINNER_LEFT_OR_RIGHT_HANDED     0.000000
TOURNAMENT_SURFACE              0.000000
WINNER_PRIZE                    0.000000
dtype: float64

In [15]:
df_majors['YEAR'].value_counts()

YEAR
1977    5
1950    4
1978    4
1972    4
1973    4
       ..
2003    4
1953    4
1986    3
2020    3
2023    1
Name: count, Length: 74, dtype: int64

In [16]:
df_majors[df_majors['YEAR'] == 1977]

,YEAR,TOURNAMENT,WINNER,RUNNER-UP,WINNER_NATIONALITY,WINNER_ATP_RANKING,RUNNER-UP_ATP_RANKING,WINNER_LEFT_OR_RIGHT_HANDED,TOURNAMENT_SURFACE,WINNER_PRIZE
179,1977,Australian Open,Vitas Gerulaitis,John Lloyd,American,NaN,NaN,right,Grass,41000.0
180,1977,U.S. Open,Guillermo Vilas,Jimmy Connors,Argentine,NaN,NaN,left,Clay - outdoors,33000.0
181,1977,Wimbledon,Bjorn Borg,Jimmy Connors,Swedish,NaN,NaN,right,Grass / Outdoor,15000.0
182,1977,Roland Garros,Guillermo Vilas,Brian Gottfried,Argentine,NaN,NaN,left,Clay,190000.0
183,1977,Australian Open,Roscoe Tanner,Guillermo Vilas,American,NaN,NaN,left,Grass,28000.0

In [17]:
# Elimino duplicado Australian Open (1977)
df_majors = df_majors.drop(179)

In [18]:
df_majors.iloc[170:184]

,YEAR,TOURNAMENT,WINNER,RUNNER-UP,WINNER_NATIONALITY,WINNER_ATP_RANKING,RUNNER-UP_ATP_RANKING,WINNER_LEFT_OR_RIGHT_HANDED,TOURNAMENT_SURFACE,WINNER_PRIZE
170,1980,Roland Garros,Bjorn Borg,Vitas Gerulaitis,Swedish,NaN,NaN,right,Clay,221000.0
171,1979,Australian Open,Guillermo Vilas,John Sadri,Argentine,NaN,NaN,left,Grass,50015.0
172,1979,U.S. Open,John McEnroe,Vitas Gerulaitis,American,NaN,NaN,left,DecoTurf - outdoors,39000.0
173,1979,Wimbledon,Bjorn Borg,Roscoe Tanner,Swedish,NaN,NaN,right,Grass / Outdoor,20000.0
174,1979,Roland Garros,Bjorn Borg,Victor Pecci,Swedish,NaN,NaN,right,Clay,208000.0
175,1978,Australian Open,Guillermo Vilas,John Marks,Argentine,NaN,NaN,left,Grass,50015.0
176,1978,U.S. Open,Jimmy Connors,Bjorn Borg,American,NaN,NaN,left,DecoTurf - outdoors,38000.0
177,1978,Wimbledon,Bjorn Borg,Jimmy Connors,Swedish,NaN,NaN,right,Grass / Outdoor,19000.0
178,1978,Roland Garros,Bjorn Borg,Guillermo Vilas,Swedish,NaN,NaN,right,Clay,210000.0
180,1977,U.S. Open,Guillermo Vilas,Jimmy Connors,Argentine,NaN,NaN,left,Clay - outdoors,33000.0
181,1977,Wimbledon,Bjorn Borg,Jimmy Connors,Swedish,NaN,NaN,right,Grass / Outdoor,15000.0
182,1977,Roland Garros,Guillermo Vilas,Brian Gottfried,Argentine,NaN,NaN,left,Clay,190000.0
183,1977,Australian Open,Roscoe Tanner,Guillermo Vilas,American,NaN,NaN,left,Grass,28000.0
184,1976,U.S. Open,Jimmy Connors,Bjorn Borg,American,NaN,NaN,left,Clay - outdoors,30000.0

# ATP Ranking 70 / 80 / 90 / 00 / 10

In [18]:
df_atp_70 = df_atp_70.dropna()
df_atp_70.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1973    100 non-null    object
 1   1974    100 non-null    object
 2   1975    100 non-null    object
 3   1976    100 non-null    object
 4   1977    100 non-null    object
 5   1978    100 non-null    object
 6   1979    100 non-null    object
dtypes: object(7)
memory usage: 6.2+ KB

In [19]:
df_atp_80 = df_atp_80.dropna()
df_atp_80.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1980    100 non-null    object
 1   1981    100 non-null    object
 2   1982    100 non-null    object
 3   1983    100 non-null    object
 4   1984    100 non-null    object
 5   1985    100 non-null    object
 6   1986    100 non-null    object
 7   1987    100 non-null    object
 8   1988    100 non-null    object
 9   1989    100 non-null    object
dtypes: object(10)
memory usage: 8.6+ KB

In [15]:
df_atp_90 = df_atp_90.dropna()
df_atp_90.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1178 entries, 0 to 1177
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1990    1178 non-null   object
 1   1991    1178 non-null   object
 2   1992    1178 non-null   object
 3   1993    1178 non-null   object
 4   1994    1178 non-null   object
 5   1995    1178 non-null   object
 6   1996    1178 non-null   object
 7   1997    1178 non-null   object
 8   1998    1178 non-null   object
 9   1999    1178 non-null   object
dtypes: object(10)
memory usage: 101.2+ KB

In [17]:
df_atp_2000 = df_atp_2000.dropna()
df_atp_2000.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1598 entries, 0 to 1597
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2000    1598 non-null   object
 1   2001    1598 non-null   object
 2   2002    1598 non-null   object
 3   2003    1598 non-null   object
 4   2004    1598 non-null   object
 5   2005    1598 non-null   object
 6   2006    1598 non-null   object
 7   2007    1598 non-null   object
 8   2008    1598 non-null   object
 9   2009    1598 non-null   object
dtypes: object(10)
memory usage: 137.3+ KB

In [20]:
df_atp_2010 = df_atp_2010.dropna()
df_atp_2010.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1771 entries, 0 to 1770
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2010    1771 non-null   object
 1   2011    1771 non-null   object
 2   2012    1771 non-null   object
 3   2013    1771 non-null   object
 4   2014    1771 non-null   object
 5   2015    1771 non-null   object
 6   2016    1771 non-null   object
 7   2017    1771 non-null   object
 8   2018    1771 non-null   object
 9   2019    1771 non-null   object
dtypes: object(10)
memory usage: 152.2+ KB