In [2]:
# Bibliotecas utilizadas
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
# Datasets utilizados
df_majors = pd.read_csv('./data/Mens_Tennis_Grand_Slam_Winner.csv')
df_atp = pd.read_csv('./data/atp_ranking.csv')
df_tour = pd.read_csv('./data/atp_matches_qual_chall_2020.csv')

# Dataset - Ganadores 4 Grand Slams

In [4]:
df_majors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   YEAR                         292 non-null    int64
 1   TOURNAMENT                   292 non-null    object
 2   WINNER                       292 non-null    object
 3   RUNNER-UP                    292 non-null    object
 4   WINNER_NATIONALITY           292 non-null    object
 5   WINNER_ATP_RANKING           63 non-null     float64
 6   RUNNER-UP_ATP_RANKING        64 non-null     float64
 7   WINNER_LEFT_OR_RIGHT_HANDED  292 non-null    object
 8   TOURNAMENT_SURFACE           292 non-null    object
 9   WINNER_PRIZE                 217 non-null    float64
dtypes: float64(3), int64(1), object(6)
memory usage: 22.9+ KB

In [5]:
nulos = (df_majors.isnull().mean())*100
nulos

YEAR                            0.000000
TOURNAMENT                      0.000000
WINNER                          0.000000
RUNNER-UP                       0.000000
WINNER_NATIONALITY              0.000000
WINNER_ATP_RANKING             78.424658
RUNNER-UP_ATP_RANKING          78.082192
WINNER_LEFT_OR_RIGHT_HANDED     0.000000
TOURNAMENT_SURFACE              0.000000
WINNER_PRIZE                   25.684932
dtype: float64

In [6]:
df_majors.value_counts

<bound method DataFrame.value_counts of      YEAR       TOURNAMENT          WINNER           RUNNER-UP  \
0    2023  Australian Open  Novak Djokovic  Stefanos Tsitsipas
1    2022        U.S. Open  Carlos Alcaraz         Casper Rudd
2    2022        Wimbledon  Novak Djokovic        Nick Kyrgios
3    2022      French Open    Rafael Nadal         Casper Rudd
4    2022  Australian Open    Rafael Nadal     Daniil Medvedev
..    ...              ...             ...                 ...
287  1951  Australian Open     Dick Savitt        Ken McGregor
288  1950        U.S. Open   Arthur Larsen        Herbert Flam
289  1950        Wimbledon      J.E. Patty       Frank Sedgman
290  1950      French Open     Budge Patty     Jaroslav Drobny
291  1950  Australian Open   Frank Sedgman        Ken McGregor

    WINNER_NATIONALITY  WINNER_ATP_RANKING  RUNNER-UP_ATP_RANKING  \
0              Serbian                 1.0                    3.0
1              Spanish                 2.0                    5.0
2              Serbian                 NaN                   25.0
3              Spanish                 5.0                    8.0
4              Spanish                 5.0                    2.0
..                 ...                 ...                    ...
287           American                 NaN                    NaN
288           American                 NaN                    NaN
289           American                 NaN                    NaN
290           American                 NaN                    NaN
291         Australian                 NaN                    NaN

    WINNER_LEFT_OR_RIGHT_HANDED     TOURNAMENT_SURFACE  WINNER_PRIZE
0                         right  Plexicushion Prestige     2050000.0
1                         right    DecoTurf - outdoors     2600000.0
2                         right        Grass / Outdoor     2507460.0
3                          left                   Clay     1870000.0
4                          left  Plexicushion Prestige     4400000.0
..                          ...                    ...           ...
287                       right                  Grass           NaN
288                       right               outdoors           NaN
289                       right        Grass / Outdoor           NaN
290                       right                   Clay           NaN
291                       right                  Grass           NaN

[292 rows x 10 columns]>

In [7]:
df_majors.head(20)

,YEAR,TOURNAMENT,WINNER,RUNNER-UP,WINNER_NATIONALITY,WINNER_ATP_RANKING,RUNNER-UP_ATP_RANKING,WINNER_LEFT_OR_RIGHT_HANDED,TOURNAMENT_SURFACE,WINNER_PRIZE
0,2023,Australian Open,Novak Djokovic,Stefanos Tsitsipas,Serbian,1.0,3.0,right,Plexicushion Prestige,2050000.0
1,2022,U.S. Open,Carlos Alcaraz,Casper Rudd,Spanish,2.0,5.0,right,DecoTurf - outdoors,2600000.0
2,2022,Wimbledon,Novak Djokovic,Nick Kyrgios,Serbian,NaN,25.0,right,Grass / Outdoor,2507460.0
3,2022,French Open,Rafael Nadal,Casper Rudd,Spanish,5.0,8.0,left,Clay,1870000.0
4,2022,Australian Open,Rafael Nadal,Daniil Medvedev,Spanish,5.0,2.0,left,Plexicushion Prestige,4400000.0
5,2021,U.S. Open,Daniil Medvedev,Novak Djokovic,Russian,2.0,1.0,right,DecoTurf - outdoors,2500000.0
6,2021,Wimbledon,Novak Djokovic,Matteo Berrettini,Serbian,1.0,7.0,right,Grass / Outdoor,1700000.0
7,2021,French Open,Novak Djokovic,Stefanos Tsitsipas,Serbian,1.0,4.0,right,Clay,1400000.0
8,2021,Australian Open,Novak Djokovic,Daniil Medvedev,Serbian,1.0,2.0,right,Plexicushion Prestige,2875000.0
9,2020,French Open,Rafael Nadal,Novak Djokovic,Spanish,2.0,1.0,left,Clay,1600000.0
10,2020,U.S. Open,Dominic Thiem,Alexander Zverev,Austrian,3.0,7.0,right,DecoTurf - outdoors,2500000.0
11,2020,Australian Open,Novak Djokovic,Dominic Thiem,Serbian,1.0,3.0,right,Plexicushion Prestige,4120000.0
12,2019,U.S. Open,Rafael Nadal,Daniil Medvedev,Spanish,1.0,5.0,left,DecoTurf - outdoors,3850000.0
13,2019,Wimbledon,Novak Djokovic,Roger Federer,Serbian,2.0,3.0,right,Grass / Outdoor,2350000.0
14,2019,French Open,Rafael Nadal,Dominic Thiem,Spanish,1.0,4.0,left,Clay,2300000.0
15,2019,Australian Open,Novak Djokovic,Rafael Nadal,Serbian,2.0,1.0,right,Plexicushion Prestige,4100000.0
16,2018,U.S. Open,Novak Djokovic,Juan Martin del Potro,Serbian,1.0,5.0,right,DecoTurf - outdoors,3800000.0
17,2018,Wimbledon,Novak Djokovic,Kevin Anderson,Serbian,1.0,6.0,right,Grass / Outdoor,2250000.0
18,2018,French Open,Rafael Nadal,Dominic Thiem,Spanish,2.0,8.0,left,Clay,2200000.0
19,2018,Australian Open,Roger Federer,Marin ili,Swiss,3.0,7.0,right,Plexicushion Prestige,4000000.0

In [8]:
# Columnas con nulos 
df_majors[['WINNER_ATP_RANKING','RUNNER-UP_ATP_RANKING', 'WINNER_PRIZE']]

     WINNER_ATP_RANKING  RUNNER-UP_ATP_RANKING  WINNER_PRIZE
0                   1.0                    3.0     2050000.0
1                   2.0                    5.0     2600000.0
2                   NaN                   25.0     2507460.0
3                   5.0                    8.0     1870000.0
4                   5.0                    2.0     4400000.0
..                  ...                    ...           ...
287                 NaN                    NaN           NaN
288                 NaN                    NaN           NaN
289                 NaN                    NaN           NaN
290                 NaN                    NaN           NaN
291                 NaN                    NaN           NaN

[292 rows x 3 columns]

In [9]:
# Filas con nulos 
filas_con_nulos = df_majors[df_majors.isnull().any(axis=1)]
filas_con_nulos

,YEAR,TOURNAMENT,WINNER,RUNNER-UP,WINNER_NATIONALITY,WINNER_ATP_RANKING,RUNNER-UP_ATP_RANKING,WINNER_LEFT_OR_RIGHT_HANDED,TOURNAMENT_SURFACE,WINNER_PRIZE
2,2022,Wimbledon,Novak Djokovic,Nick Kyrgios,Serbian,NaN,25.0,right,Grass / Outdoor,2507460.0
64,2006,U.S. Open,Roger Federer,Andy Roddick,Swiss,NaN,NaN,right,DecoTurf - outdoors,1200000.0
65,2006,Wimbledon,Roger Federer,Rafael Nadal,Swiss,NaN,NaN,right,Grass / Outdoor,655000.0
66,2006,French Open,Rafael Nadal,Roger Federer,Spanish,NaN,NaN,left,Clay,940000.0
67,2006,Australian Open,Roger Federer,Marcos Baghdatis,Swiss,NaN,NaN,right,Rebound Ace,1220000.0
...,...,...,...,...,...,...,...,...,...,...
287,1951,Australian Open,Dick Savitt,Ken McGregor,American,NaN,NaN,right,Grass,NaN
288,1950,U.S. Open,Arthur Larsen,Herbert Flam,American,NaN,NaN,right,outdoors,NaN
289,1950,Wimbledon,J.E. Patty,Frank Sedgman,American,NaN,NaN,right,Grass / Outdoor,NaN
290,1950,French Open,Budge Patty,Jaroslav Drobny,American,NaN,NaN,right,Clay,NaN
291,1950,Australian Open,Frank Sedgman,Ken McGregor,Australian,NaN,NaN,right,Grass,NaN

In [10]:
df_majors['TOURNAMENT'].value_counts()

TOURNAMENT
U.S. Open                73
French Open              73
Australian Open          72
Wimbledon                72
Australian Open (Dec)     1
Australian Open (Jan)     1
Name: count, dtype: int64

In [11]:
# Cambio de Australian Open (Dec / Jan) por Australian Open
df_majors['TOURNAMENT'] = df_majors['TOURNAMENT'].str.replace(r'Australian Open \(Dec\) | Australian Open \(Jan\)', 'Australian Open', regex = True)
df_majors['TOURNAMENT'] = df_majors['TOURNAMENT'].str.replace(r'French Open', 'Roland Garros', regex = True)

In [12]:
df_majors['TOURNAMENT'].value_counts()

TOURNAMENT
U.S. Open                73
Roland Garros            73
Australian Open          72
Wimbledon                72
Australian Open (Dec)     1
Australian Open (Jan)     1
Name: count, dtype: int64

In [13]:
precios_por_torneo = df_majors.groupby('TOURNAMENT')['WINNER_PRIZE'].mean()
precios_por_torneo

TOURNAMENT
Australian Open          1.200013e+06
Australian Open (Dec)    4.100000e+04
Australian Open (Jan)    2.800000e+04
Roland Garros            1.466629e+06
U.S. Open                1.013036e+06
Wimbledon                5.990386e+05
Name: WINNER_PRIZE, dtype: float64

In [14]:
df_majors[['TOURNAMENT', 'WINNER_PRIZE']]

          TOURNAMENT  WINNER_PRIZE
0    Australian Open     2050000.0
1          U.S. Open     2600000.0
2          Wimbledon     2507460.0
3      Roland Garros     1870000.0
4    Australian Open     4400000.0
..               ...           ...
287  Australian Open           NaN
288        U.S. Open           NaN
289        Wimbledon           NaN
290    Roland Garros           NaN
291  Australian Open           NaN

[292 rows x 2 columns]

In [15]:
# Medias de cada uno de los torneos
tournament_means = {
    'Australian Open': df_majors.loc[df_majors['TOURNAMENT'].str.contains('Australian Open', case = False), 'WINNER_PRIZE'].mean(),
    'Roland Garros': df_majors.loc[df_majors['TOURNAMENT'].str.contains('Roland Garros', case = False), 'WINNER_PRIZE'].mean(),
    'U.S. Open': df_majors.loc[df_majors['TOURNAMENT'].str.contains('U.S. Open', case = False), 'WINNER_PRIZE'].mean(),
    'Wimbledon': df_majors.loc[df_majors['TOURNAMENT'].str.contains('Wimbledon', case = False), 'WINNER_PRIZE'].mean(),
}
# Funcion reemplazo
def sustitucion_nulos(row):
    tournament = row['TOURNAMENT']
    winner_prize = row['WINNER_PRIZE']
    if pd.isnull(winner_prize) and any(t in tournament for t in tournament_means.key()):
        return tournament_means(next(t for t in tournament_means.key() if t in tournament))
    else:
        return winner_prize
    
df_majors['WINNER_PRIZE'] = df_majors['WINNER_PRIZE'].fillna(df_majors['TOURNAMENT'].map(lambda x: tournament_means[next((t for t in tournament_means.keys() if t in x), None)])).round(1)
df_majors

,YEAR,TOURNAMENT,WINNER,RUNNER-UP,WINNER_NATIONALITY,WINNER_ATP_RANKING,RUNNER-UP_ATP_RANKING,WINNER_LEFT_OR_RIGHT_HANDED,TOURNAMENT_SURFACE,WINNER_PRIZE
0,2023,Australian Open,Novak Djokovic,Stefanos Tsitsipas,Serbian,1.0,3.0,right,Plexicushion Prestige,2050000.0
1,2022,U.S. Open,Carlos Alcaraz,Casper Rudd,Spanish,2.0,5.0,right,DecoTurf - outdoors,2600000.0
2,2022,Wimbledon,Novak Djokovic,Nick Kyrgios,Serbian,NaN,25.0,right,Grass / Outdoor,2507460.0
3,2022,Roland Garros,Rafael Nadal,Casper Rudd,Spanish,5.0,8.0,left,Clay,1870000.0
4,2022,Australian Open,Rafael Nadal,Daniil Medvedev,Spanish,5.0,2.0,left,Plexicushion Prestige,4400000.0
...,...,...,...,...,...,...,...,...,...,...
287,1951,Australian Open,Dick Savitt,Ken McGregor,American,NaN,NaN,right,Grass,1156031.7
288,1950,U.S. Open,Arthur Larsen,Herbert Flam,American,NaN,NaN,right,outdoors,1013036.4
289,1950,Wimbledon,J.E. Patty,Frank Sedgman,American,NaN,NaN,right,Grass / Outdoor,599038.6
290,1950,Roland Garros,Budge Patty,Jaroslav Drobny,American,NaN,NaN,right,Clay,1466628.7
291,1950,Australian Open,Frank Sedgman,Ken McGregor,Australian,NaN,NaN,right,Grass,1156031.7

In [16]:
nulos = (df_majors.isnull().mean())*100
nulos

YEAR                            0.000000
TOURNAMENT                      0.000000
WINNER                          0.000000
RUNNER-UP                       0.000000
WINNER_NATIONALITY              0.000000
WINNER_ATP_RANKING             78.424658
RUNNER-UP_ATP_RANKING          78.082192
WINNER_LEFT_OR_RIGHT_HANDED     0.000000
TOURNAMENT_SURFACE              0.000000
WINNER_PRIZE                    0.000000
dtype: float64

In [18]:
djokovic_2022 = df_majors[(df_majors['WINNER'] == 'Novak Djokovic') & (df_majors['YEAR'] == 2022)]

# Dataset - ATP Ranking

In [19]:
df_atp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994 entries, 0 to 1993
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rank               1994 non-null   int64
 1   player             1994 non-null   object
 2   country            1994 non-null   object
 3   total_points       1994 non-null   int64
 4   grand_slam_points  1994 non-null   int64
 5   masters_points     1994 non-null   int64
 6   other_points       1994 non-null   int64
 7   tournaments        1994 non-null   int64
dtypes: int64(6), object(2)
memory usage: 124.8+ KB

In [22]:
df_atp.head(20)

,rank,player,country,total_points,grand_slam_points,masters_points,other_points,tournaments
0,1,"Alcaraz, Carlos",ESP,6820,2450,2740,1630,17
1,2,"Nadal, Rafael",ESP,6020,4180,890,950,14
2,3,"Ruud, Casper",NOR,5820,2400,1565,1855,23
3,4,"Tsitsipas, Stefanos",GRE,5550,910,3065,1575,23
4,5,"Djokovic, Novak",SRB,4820,360,1970,2490,14
5,6,"Auger-Aliassime, Felix",CAN,4195,585,1100,2510,26
6,7,"Medvedev, Daniil",RUS,4065,1560,605,1900,21
7,8,"Rublev, Andrey",RUS,3930,810,840,2280,23
8,9,"Fritz, Taylor",USA,3355,235,1585,1535,22
9,10,"Hurkacz, Hubert",POL,2905,270,1475,1160,21
10,11,"Rune, Holger",DEN,2888,460,1166,1262,27
11,12,"Zverev, Alexander",GER,2700,900,1510,290,18
12,13,"Carreno Busta, Pablo",ESP,2495,370,1300,825,24
13,14,"Norrie, Cameron",GBR,2445,280,900,1265,23
14,15,"Sinner, Jannik",ITA,2410,900,910,600,18
15,16,"Berrettini, Matteo",ITA,2375,1080,110,1185,19
16,17,"Cilic, Marin",CRO,2105,1080,425,600,20
17,18,"Shapovalov, Denis",CAN,2075,460,425,1190,23
18,19,"Tiafoe, Frances",USA,2000,810,425,765,22
19,20,"Khachanov, Karen",RUS,1990,990,265,735,25

# Dataset - Challengers

In [23]:
df_tour.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3288 entries, 0 to 3287
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          3288 non-null   object
 1   tourney_name        3288 non-null   object
 2   surface             3288 non-null   object
 3   draw_size           3288 non-null   int64
 4   tourney_level       3288 non-null   object
 5   tourney_date        3288 non-null   int64
 6   match_num           3288 non-null   int64
 7   winner_id           3288 non-null   int64
 8   winner_seed         1421 non-null   float64
 9   winner_entry        497 non-null    object
 10  winner_name         3288 non-null   object
 11  winner_hand         3288 non-null   object
 12  winner_ht           3000 non-null   float64
 13  winner_ioc          3288 non-null   object
 14  winner_age          3288 non-null   float64
 15  loser_id            3288 non-null   int64
 16  loser_seed          1023 non-null   float64
 17  loser_entry         746 non-null    object
 18  loser_name          3288 non-null   object
 19  loser_hand          3288 non-null   object
 20  loser_ht            2727 non-null   float64
 21  loser_ioc           3288 non-null   object
 22  loser_age           3284 non-null   float64
 23  score               3286 non-null   object
 24  best_of             3288 non-null   int64
 25  round               3288 non-null   object
 26  minutes             3259 non-null   float64
 27  w_ace               3257 non-null   float64
 28  w_df                3257 non-null   float64
 29  w_svpt              3257 non-null   float64
 30  w_1stIn             3257 non-null   float64
 31  w_1stWon            3257 non-null   float64
 32  w_2ndWon            3257 non-null   float64
 33  w_SvGms             3258 non-null   float64
 34  w_bpSaved           3257 non-null   float64
 35  w_bpFaced           3257 non-null   float64
 36  l_ace               3257 non-null   float64
 37  l_df                3257 non-null   float64
 38  l_svpt              3257 non-null   float64
 39  l_1stIn             3257 non-null   float64
 40  l_1stWon            3257 non-null   float64
 41  l_2ndWon            3257 non-null   float64
 42  l_SvGms             3258 non-null   float64
 43  l_bpSaved           3257 non-null   float64
 44  l_bpFaced           3257 non-null   float64
 45  winner_rank         3276 non-null   float64
 46  winner_rank_points  3276 non-null   float64
 47  loser_rank          3216 non-null   float64
 48  loser_rank_points   3216 non-null   float64
dtypes: float64(29), int64(6), object(14)
memory usage: 1.2+ MB

In [25]:
df_tour.head(20)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2020-0451,Doha,Hard,32,A,20200106,254,105916,1.0,NaN,...,48.0,30.0,12.0,13.0,0.0,5.0,70.0,790.0,102.0,534.0
1,2020-0451,Doha,Hard,32,A,20200106,253,144707,2.0,NaN,...,58.0,34.0,15.0,15.0,3.0,8.0,76.0,681.0,85.0,627.0
2,2020-0451,Doha,Hard,32,A,20200106,252,106296,3.0,NaN,...,51.0,34.0,9.0,10.0,7.0,10.0,83.0,636.0,87.0,616.0
3,2020-0451,Doha,Hard,32,A,20200106,251,144895,4.0,NaN,...,30.0,15.0,8.0,9.0,1.0,6.0,81.0,638.0,94.0,585.0
4,2020-0451,Doha,Hard,32,A,20200106,250,105916,1.0,NaN,...,65.0,45.0,17.0,13.0,7.0,9.0,70.0,790.0,98.0,575.0
5,2020-0451,Doha,Hard,32,A,20200106,249,106210,NaN,NaN,...,52.0,41.0,17.0,14.0,0.0,3.0,102.0,534.0,123.0,436.0
6,2020-0451,Doha,Hard,32,A,20200106,248,144707,2.0,NaN,...,28.0,10.0,6.0,7.0,2.0,7.0,76.0,681.0,NaN,NaN
7,2020-0451,Doha,Hard,32,A,20200106,247,200221,5.0,NaN,...,32.0,23.0,11.0,8.0,4.0,7.0,85.0,627.0,114.0,473.0
8,2020-0451,Doha,Hard,32,A,20200106,246,106296,3.0,NaN,...,49.0,29.0,11.0,13.0,4.0,10.0,83.0,636.0,93.0,586.0
9,2020-0451,Doha,Hard,32,A,20200106,245,106329,6.0,NaN,...,40.0,17.0,6.0,7.0,7.0,12.0,87.0,616.0,NaN,NaN
10,2020-0451,Doha,Hard,32,A,20200106,244,144895,4.0,NaN,...,43.0,27.0,13.0,10.0,3.0,6.0,81.0,638.0,104.0,528.0
11,2020-0451,Doha,Hard,32,A,20200106,243,200615,NaN,NaN,...,64.0,43.0,24.0,17.0,3.0,7.0,94.0,585.0,91.0,594.0
12,2020-M056,Adelaide,Hard,32,A,20200113,254,144750,8.0,NaN,...,43.0,25.0,23.0,11.0,5.0,9.0,91.0,594.0,661.0,30.0
13,2020-M056,Adelaide,Hard,32,A,20200113,253,105643,2.0,NaN,...,66.0,41.0,20.0,12.0,5.0,8.0,73.0,709.0,94.0,586.0
14,2020-M056,Adelaide,Hard,32,A,20200113,252,126205,6.0,NaN,...,40.0,26.0,5.0,8.0,3.0,6.0,90.0,600.0,78.0,675.0
15,2020-M056,Adelaide,Hard,32,A,20200113,251,106296,4.0,NaN,...,80.0,49.0,21.0,16.0,8.0,13.0,82.0,643.0,88.0,608.0
16,2020-M056,Adelaide,Hard,32,A,20200113,250,103565,NaN,Alt,...,30.0,18.0,9.0,8.0,4.0,9.0,661.0,30.0,818.0,17.0
17,2020-M056,Adelaide,Hard,32,A,20200113,249,144750,8.0,NaN,...,27.0,10.0,7.0,7.0,2.0,6.0,91.0,594.0,995.0,10.0
18,2020-M056,Adelaide,Hard,32,A,20200113,247,106099,7.0,NaN,...,58.0,43.0,9.0,15.0,0.0,3.0,94.0,586.0,133.0,411.0
19,2020-M056,Adelaide,Hard,32,A,20200113,246,111797,3.0,NaN,...,31.0,18.0,12.0,9.0,1.0,4.0,78.0,675.0,303.0,130.0