# WEB SCRAPPING

In [3]:
import lxml
import requests
import pandas as pd
from bs4 import BeautifulSoup
import subprocess

In [9]:
subprocess.run(["pip", "install", "html5lib"])

CompletedProcess(args=['pip', 'install', 'html5lib'], returncode=0)

In [11]:
url = 'https://www.atptour.com/es/rankings/singles?RankRange=1-5000&Region=all&DateWeek=1973-09-26'
response = requests.get(url)
soup_ranking = BeautifulSoup(response.text, 'html.parser')

In [8]:
# Encontrar la tabla de rankings en el HTML
table = soup_ranking.find('table', class_ = 'mega-table desktop-table non-live')

if table:
    # Extraer los datos de la tabla manualmente
    data = []
    rows = table.find_all('tr')
    for row in rows:
        cols = row.find_all(['th', 'td'])
        cols = [col.text.strip() for col in cols if col.text.strip()]
        if cols:
            data.append(cols)

    # Crear un DataFrame con los datos extraídos
    df = pd.DataFrame(data[1:], columns=data[0])  # Usamos la primera fila como encabezados

    # Mostrar las primeras filas del DataFrame
    print(df.head())
else:
    print("No se encontró la tabla en la página web.")

No se encontró la tabla en la página web.

In [45]:
# URL de la página web
url = 'https://www.atptour.com/es/rankings/singles?RankRange=1-5000&Region=all&DateWeek=1973-09-26'

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}
response = requests.get(url, headers=headers)


if response.status_code == 200:
    # Parsear el contenido HTML de la página web
    soup = BeautifulSoup(response.content, 'html.parser')

    # Encontrar la tabla de clasificación
    table = soup.find('table', class_='mega-table desktop-table non-live')

    if table:
        # Extraer los datos de la tabla
        data = []
        rows = table.find_all('tr')
        for row in rows:
            cols = row.find_all(['th', 'td'])
            cols = [col.text.strip() for col in cols if col.text.strip()]
            if cols:
                data.append(cols)

        # Crear un DataFrame con los datos extraídos
        if data:
            df = pd.DataFrame(data[1:], columns=data[0])  # Usamos la primera fila como encabezados
            # Mostrar las primeras filas del DataFrame
        else:
            print("No se encontraron datos en la tabla.")
    else:
        print("No se encontró la tabla en la página web.")
else:
    print("No se pudo acceder a la página web. Código de estado:", response.status_code)

In [44]:
df.head()

,Ranking,Jugador,Edad,Puntos Oficiales,+/-,Torneos Jugados,Pts A Perder,Siguiente Mejor
0,1,Ilie Nastase,27,0,-,-,-,-
1,2,John Newcombe,29,0,-,-,-,-
2,3,Manuel Orantes,24,0,-,-,-,-
3,4,Stan Smith,26,0,-,-,-,-
4,5,5 Jimmy Connors,21,0,-,-,-,-

In [48]:
import re  # Importar la biblioteca re para expresiones regulares

# URL de la página web
url = 'https://www.atptour.com/es/rankings/singles?RankRange=1-5000&Region=all&DateWeek=1973-09-26'

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    # Parsear el contenido HTML de la página web
    soup = BeautifulSoup(response.content, 'html.parser')

    # Encontrar la tabla de clasificación
    table = soup.find('table', class_='mega-table desktop-table non-live')

    if table:
        # Extraer los datos de la tabla
        data = []
        rows = table.find_all('tr')
        for row in rows:
            cols = row.find_all(['th', 'td'])
            # Limpiar los datos y extraer solo texto limpio sin caracteres no imprimibles
            clean_cols = [re.sub(r'\s+', ' ', col.text.strip()) for col in cols if col.text.strip()]
            if clean_cols:
                # Si el primer elemento tiene un formato de ranking (por ejemplo, "1. Jugador"), omitirlo
                if re.match(r'^\d+\.\s', clean_cols[0]):
                    clean_cols[0] = clean_cols[0].split('. ')[1]
                data.append(clean_cols)

        # Crear un DataFrame con los datos extraídos
        if data:
            df = pd.DataFrame(data[1:], columns=data[0])  # Usamos la primera fila como encabezados
        else:
            print("No se encontraron datos válidos en la tabla.")
    else:
        print("No se encontró la tabla en la página web.")
else:
    print("No se pudo acceder a la página web. Código de estado:", response.status_code)

In [49]:
df.head(10)

,Ranking,Jugador,Edad,Puntos Oficiales,+/-,Torneos Jugados,Pts A Perder,Siguiente Mejor
0,1,Ilie Nastase,27,0,-,-,-,-
1,2,John Newcombe,29,0,-,-,-,-
2,3,Manuel Orantes,24,0,-,-,-,-
3,4,Stan Smith,26,0,-,-,-,-
4,5,5 Jimmy Connors,21,0,-,-,-,-
5,6,2 Tom Okker,29,0,-,-,-,-
6,7,-1 Ken Rosewall,38,0,-,-,-,-
7,8,-3 Jan Kodes,27,0,-,-,-,-
8,9,-2 Arthur Ashe,30,0,-,-,-,-
9,10,-1 Rod Laver,35,0,-,-,-,-

In [51]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página web
url = 'https://www.atptour.com/es/rankings/singles?RankRange=1-5000&Region=all&DateWeek=1973-09-26'

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    # Parsear el contenido HTML de la página web
    soup = BeautifulSoup(response.content, 'html.parser')

    # Encontrar la tabla de clasificación
    table = soup.find('table', class_='mega-table desktop-table non-live')

    if table:
        # Extraer los datos de la tabla
        data = []
        rows = table.find_all('tr')
        for row in rows:
            cols = row.find_all(['th', 'td'])
            # Limpiar los datos y extraer solo texto limpio sin caracteres no imprimibles
            clean_cols = [col.text.strip() for col in cols if col.text.strip()]
            if clean_cols:
                # Eliminar cualquier carácter numérico al principio del nombre del jugador
                if clean_cols[0][0].isdigit():
                    clean_cols[0] = clean_cols[0].split(maxsplit=1)[1]  # Obtener el nombre después del primer espacio
                data.append(clean_cols)

        # Crear un DataFrame con los datos extraídos
        if data:
            df = pd.DataFrame(data[1:], columns=data[0])  # Usamos la primera fila como encabezados
        else:
            print("No se encontraron datos válidos en la tabla.")
    else:
        print("No se encontró la tabla en la página web.")
else:
    print("No se pudo acceder a la página web. Código de estado:", response.status_code)

IndexError: list index out of range